<h1>Listing data_points</h1>

<table>
  <tr>
    <th>Data topic</th>
    <th>Country</th>
    <th>Year</th>
    <th>Value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @data_points.each do |data_point| %>
  <tr>
    <td><%= data_point.data_topic %></td>
    <td><%= data_point.country %></td>
    <td><%= data_point.year %></td>
    <td><%= data_point.value %></td>
    <td><%= link_to 'Show', data_point %></td>
    <td><%= link_to 'Edit', edit_data_point_path(data_point) %></td>
    <td><%= link_to 'Destroy', data_point, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Data point', new_data_point_path %>
